<%! from r2.lib.filters import scriptsafe_dumps %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>passback</title>
</head>
<body>

  <script>
    var adosWindow = window;
    var PASSBACK_IDS = ${scriptsafe_dumps(thing.passback_ids)};

    try {
      while (!adosWindow.divName) {
        if (adosWindow == adosWindow.parent) {
          break;
        }
        adosWindow = adosWindow.parent
      }

      if (adosWindow.divName) {
        func = adosWindow.azk_passback || adosWindow.parent.azk_passback;
        func(adosWindow.divName, PASSBACK_IDS);
      }

    } catch (e) {
      windows = []
      currentWindow = window;

      while (currentWindow != currentWindow.parent) {
        currentWindow = currentWindow.parent;
        windows.push(currentWindow);
      }

      for (var i = 0; i < windows.length; i++) {
        windows[i].postMessage({flightIds: PASSBACK_IDS}, '*')
      }
    }
  </script>
</body>
</html>
